@import "../../styles/styles.scss";

.services {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  padding: 6rem 0;
  position: relative;
  gap: 4rem;

  @include phone {
    gap: 3rem;
  }

  @include tablet {
    justify-content: center;
    height: 100%;
  }

  @include desktop_hd {
    gap: 6rem;
  }

  &::after {
    @include green_line_separator;

    @include tablet {
      top: 95%;
    }

    @include phone {
      top: 93%;
      height: 180px;
    }
  }

  &__ellipse1,
  &__ellipse2 {
    border-radius: 50%;
    position: absolute;
  }

  &__ellipse1 {
    background: linear-gradient(216.29deg, #25d366 7.56%, #1979aa00 85.19%);
    height: 706px;
    left: -8%;
    top: 10%;
    width: 706px;
    z-index: -100;

    @include phone {
      height: 500px;
      left: 25%;
      top: 15%;
      width: 500px;
    }

    @include tablet {
      height: 400px;
      width: 400px;
      left: -30%;
      top: 75%;
    }

    @include desktop_hd {
      height: 650px;
      width: 650px;
      left: -30%;
      top: 10%;
    }
  }

  &__ellipse2 {
    background: linear-gradient(216.29deg, #25d366 7.56%, #1979aa00 85.19%);
    height: 173.95px;
    right: 3%;
    top: 10%;
    transform: rotate(-135deg);
    width: 173.95px;

    @include phone {
      left: -3%;
      right: 0;
      top: 77%;
    }

    @include tablet {
      height: 130px;
      width: 130px;
    }

    @include desktop_hd {
      right: 0;
      top: 85%;
    }
  }

  &__card {
    align-items: flex-end;
    backdrop-filter: blur(4px);
    background: #ffffff33;
    border-radius: 20px;
    box-shadow: 0px 4px 30px #0000000d;
    display: flex;
    height: 340px;
    width: 80%;
    justify-content: space-between;

    @include phone {
      align-items: flex-start;
      backdrop-filter: blur(30px);
      flex-direction: column;
      height: 100%;
      max-width: 85%;
      padding: 0;
    }

    @include tablet {
      height: 100%;
    }

    h2 {
      color: $green3;
      font-size: 2rem;
      margin: 0;

      @include phone {
        font-size: 1.3rem;
        padding-right: 1rem;
        width: 100%;
      }

      @include tablet {
        width: 100%;
        font-size: 1.7rem;
        text-align: left;
      }

      @include desktop_hd {
        width: 100%;
      }
    }

    p {
      font-size: 1.25rem;
      margin: 1rem 0;

      @include phone {
        font-size: 0.85rem;
        padding-right: 1rem;
        line-height: 20px;
      }

      @include tablet {
        text-align: left;
        font-size: 1.1rem;
      }
    }

    div {
      width: 100%;
      padding: 2rem 2rem 2rem 0;

      @include phone {
        padding: 1rem 0 1rem 1rem;
        width: 100%;
      }

      @include tablet {
        padding: 0;
      }

      @include desktop_hd {
        width: 100%;
      }
    }

    &:last-child {
      flex-direction: row-reverse;
      margin: 0 0 0 auto;

      @include phone {
        align-items: flex-end;
        flex-direction: column;
        text-align: right;
      }

      div {
        max-width: 650px;
        padding: 2rem 0 2rem 2rem;

        @include phone {
          width: 100%;
          padding: 0 0 1rem 1rem;
        }

        @include tablet {
          width: 100%;
        }
      }

      img {
        border-bottom-right-radius: 20px;

        @include phone {
          border-bottom-right-radius: 0;
        }

        @include tablet {
          border-bottom-right-radius: 0;
        }
      }
    }

    img {
      width: 40%;
      object-fit: contain;

      @include phone {
        margin: -30% 0 0 0;
        width: 60%;
      }

      @include tablet {
        margin: 0;
        width: 40%;
      }
    }
  }

  & :nth-child(3) {
    text-align: right;

    @include phone {
      text-align: left;
      padding: 0;
    }

    h2 {
      margin: 0 0 0 auto;

      @include phone {
        margin: 0 0 auto;
      }
    }
  }
}
