@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

$primaryColor: #2c3441;
$secondaryColor: #252b35;
$primaryColorWithTransparency: #2c3441e3;

$green: #23c965;
$green2: #50b363;
$green3: #50b262;
$white: #fefeff;
$pink: #ff319d;
$blue-light: #0281b0;
$yellow: #f8c224;
$black-shadow: #00000082;
$purple: #350862;
$black: #000;

$container_width: 1024px;

$tablet: 600px;
$desktop: 900px;
$desktop_m: 1680px;
$desktop_xl: 1920px;

@mixin phone {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop_hd {
  @media (min-width: #{$desktop_m}) and (max-width: #{$desktop_xl}) {
    @content;
  }
}

@mixin devices {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin base {
  margin: auto;
  width: $container_width;

  @include tablet {
    width: 90%;
  }

  @include phone {
    box-shadow: 0px 0px 0px 0px;
    height: auto;
    width: 90%;
  }
}

@mixin half {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  @include phone {
    width: 90%;
    height: auto;
    margin: auto;
  }
}

@mixin flex_center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex_center_space_between {
  display: flex;
  justify-content: space-between;
}

@mixin border_radius {
  border-radius: 7px;
}

@mixin grid_center {
  align-items: center;
  display: grid;
  justify-content: center;
}

@mixin green_line_separator {
  background: $green3;
  border-radius: 10px;
  content: "";
  height: 250px;
  left: 50%;
  position: absolute;
  top: 97%;
  width: 5px;

  @include phone {
    width: 3px;
  }
}
