@import "../../styles/styles.scss";

.info {
  align-items: flex-start;
  display: grid;
  grid-template-columns: calc(40% - 3rem) calc(60% - 3rem);
  gap: 6rem;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding-bottom: 10rem;
  width: 100%;

  @include phone {
    grid-template-columns: 100%;
    height: 100%;
    gap: 0.5rem;
    padding: 6rem 0;
  }

  @include tablet {
    gap: 1rem;
    grid-template-columns: 45% 55%;
    height: 100%;
    padding: 6rem 0 3rem;
  }

  @include desktop_hd {
    padding: 0 0 7rem 0;
  }

  &::after {
    @include green_line_separator;
    top: 70%;
    height: 220px;

    @include phone {
      top: 80%;
    }

    @include tablet {
      top: 100%;
    }
  }

  &__description {
    font-size: 1.3rem;

    @include phone {
      font-size: 0.85rem;
    }
  }

  &__highlight {
    background-image: linear-gradient(#ffffff00, #ffffff00),
      linear-gradient(45deg, $white 0%, #ffffff00 70%);
    background-clip: padding-box;
    border: solid 1px transparent;
    padding: 1px;
    border-radius: 30px;

    @include phone {
      background-image: linear-gradient(#ffffff00, #ffffff00),
        linear-gradient(80deg, $white 0%, #ffffff00 70%);
    }

    p {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0;
      background: $primaryColor;
      border-radius: 30px;
      padding: 2.5rem 1.3rem;

      @include phone {
        padding: 1rem;
        font-size: 0.9rem;
        text-align: right;
      }
    }
  }
}
