@import "../../styles/styles.scss";

.info {
  align-items: flex-start;
  display: grid;
  grid-template-columns: calc(40% - 3rem) calc(60% - 3rem);
  gap: 6rem;
  height: 50vh;
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  width: 100%;

  @include phone {
    grid-template-columns: 45% 55%;
    height: 100%;
    gap: 0.5rem;
    padding: 6rem 0;
  }

  @include tablet {
    gap: 1rem;
    grid-template-columns: 45% 55%;
    height: 100%;
    padding: 6rem 0 3rem;
  }

  &::after {
    @include green_line_separator;
    top: 240px;
    height: 220px;

    @include phone {
      top: 80%;
    }

    @include tablet {
      top: 100%;
    }
  }

  &__description {
    font-size: 1.3rem;

    @include phone {
      font-size: 0.85rem;
    }
  }

  &__highlight {
    border-image: linear-gradient(to right, $white 0, transparent 50%) 1;
    border-style: solid;
    border-width: 1px;
    padding: 2rem 1.3rem;

    @include phone {
      padding: 1rem;
    }

    p {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0;

      @include phone {
        font-size: 0.9rem;
        text-align: right;
      }
    }
  }
}
