@import "../../styles/styles.scss";

.navbar {
  position: relative;
  @include flex_center_space_between;
  padding: 40px 120px;

  margin: 0 auto;

  @include phone {
    padding: 20px 0 0 0;
  }

  @include tablet {
    padding: 30px 40px 0;
  }

  &__logo {
    @include phone {
      height: 2rem;
    }

    @include tablet {
      height: 50px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding-top: 0.5rem;

    @include tablet {
      gap: 0.2rem;
    }

    @include desktop_hd {
      gap: 1rem;
    }

    @include phone {
      animation: menuAnimation 0.1s linear 0s 1 normal forwards;
      background: $primaryColorWithTransparency;
      border: 1px solid;
      border-top-color: transparent;
      display: flex;
      flex-direction: column;
      gap: 0;
      height: auto;
      position: absolute;
      text-align: center;
      top: 120%;
      transition: all 0.2s cubic-bezier(0.26, 0.59, 0.83, 0.67);
      width: 100%;
      z-index: 600;
    }

    &_item {
      height: auto;

      @include phone {
        // padding: 6px 0;
      }

      &:last-child a {
        @include border_radius;
        border: 1px solid $white;

        @include phone {
          border: none;
          border-radius: 0;
        }
      }
      a {
        color: $white;
        padding: 6px 15px;
        text-decoration: none;
        transition: background 0.3s ease;

        &:visited,
        &:active {
          color: $white;
        }

        @include phone {
          display: block;
          padding: 10px 0;
          width: 100%;
        }

        &:hover {
          background: $secondaryColor;
        }
      }
    }
  }
}

.show {
  display: none;
}

.mobile_menu {
  display: none;
  position: relative;
  margin-top: 0.5rem;

  @include phone {
    display: block;

    &,
    &:after,
    &:before {
      display: block;
      border-radius: 10px;
      content: "";
      width: 25px;
      height: 2px;
      background: $white;
    }

    &:after {
      margin-top: 5px;
    }

    &:before {
      margin-top: 7px;
    }
  }
}

.navigation__toggle {
  display: none;
}

@keyframes menuAnimation {
  0% {
    transform: translateY(-30px);
    background: transparent;
  }

  100% {
    transform: translateY(0);
  }
}
