@import "../../styles/styles.scss";

.navbar {
  position: relative;
  @include flex_center_space_between;
  padding: 40px 0;

  @include phone {
    padding: 20px 0 0 0;
  }

  @include tablet {
    padding: 30px 0 0;
  }

  &__logo {
    @include phone {
      height: 50px;
    }

    @include tablet {
      height: 50px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 4rem;
    margin: 0;
    height: 35px;

    @include tablet {
      gap: 0.2rem;
    }

    @include phone {
      animation: menuAnimation 0.1s linear 0s 1 normal forwards;
      background: $primaryColor;
      display: flex;
      flex-direction: column;
      gap: 0;
      height: 130px;
      position: absolute;
      text-align: center;
      top: 110%;
      transition: all 0.2s cubic-bezier(0.26, 0.59, 0.83, 0.67);
      width: 100%;
      z-index: 600;
    }

    &_item {
      @include border_radius;
      padding: 6px 15px;
      height: auto;

      &:last-child {
        border: 1px solid $white;

        @include phone {
          border: none;
        }
      }
      a {
        text-decoration: none;
        color: $white;

        &:visited,
        &:active {
          color: $white;
        }
      }
    }
  }
}

.show {
  display: none;
}

.mobile_menu {
  display: none;
  position: relative;
  margin-top: 0.625rem;

  @include phone {
    display: block;

    &,
    &:after,
    &:before {
      display: block;
      border-radius: 10px;
      content: "";
      width: 30px;
      height: 3px;
      background: $white;
    }

    &:after {
      margin-top: 7px;
    }

    &:before {
      margin-top: 10px;
    }
  }
}

.navigation__toggle {
  display: none;
}

@keyframes menuAnimation {
  0% {
    transform: translateY(-30px);
    background: transparent;
  }

  100% {
    transform: translateY(0);
  }
}
