@import "../../styles/styles.scss";

.footer {
  background: #1d212980;
  padding: 40px 120px;
  display: grid;
  backdrop-filter: blur(11px);
  gap: 2rem;

  @include phone {
    padding: 40px 20px;
  }

  @include tablet {
    padding: 40px;
    gap: 1.5rem;
  }

  img {
    max-width: 180px;
    width: 20%;

    @include phone {
      width: 100%;
      max-width: 150px;
    }

    @include tablet {
      width: 40%;
      max-width: 150px;
    }
  }

  &__social_icons {
    display: flex;
    gap: 2.5rem;

    @include phone {
      gap: 2rem;
    }

    @include tablet {
      gap: 2rem;
    }

    svg {
      color: $white;
      font-size: 30px;

      @include phone {
        font-size: 25px;
      }
    }
  }
}
