@import "./styles/styles.scss";

.container {
  padding: 0 100px;

  @include phone {
    padding: 0 20px;
    overflow: hidden;
  }

  @include tablet {
    padding: 0 40px;
    overflow: hidden;
  }

  @include desktop_hd {
    @include base;
  }
}
