@import "./styles/styles.scss";

.container {
  max-width: 1024px;
  margin: 0 auto;

  @include phone {
    padding: 0 20px;
    overflow: hidden;
  }

  @include tablet {
    padding: 0 40px;
    overflow: hidden;
  }

  @include desktop_hd {
    @include base;
  }
}
