@import "../../styles/styles.scss";

.header {
  align-items: center;
  display: grid;
  grid-template-columns: calc(100% - 400px) 400px;
  color: $white;
  position: relative;
  padding: 2rem 0 6rem 0;
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;

  @include phone {
    padding: 0;
    grid-template-columns: calc(100% - 150px) 150px;
    height: 100%;
    align-items: flex-start;
  }

  @include tablet {
    grid-template-columns: calc(100% - 315px) 315px;
    padding: 2rem 0 0 0;
  }

  @include desktop_hd {
    padding: 0;
    height: 100vh;
    max-height: 750px;
    grid-template-columns: repeat(2, 50%);
    width: 85%;
  }

  &__ellipse1,
  &__ellipse2 {
    position: absolute;
    border-radius: 50%;
  }

  &__ellipse1 {
    background: linear-gradient(216.29deg, #25d366 7.56%, #1979aa00 85.19%);
    bottom: 26.5%;
    height: 173.95px;
    left: -6%;
    position: absolute;
    transform: rotate(-135deg);
    width: 173.95px;

    @include phone {
      height: 110px;
      width: 110px;
      transform: rotate(-148.47deg);
      bottom: -60px;
      left: -50px;
    }

    @include tablet {
      bottom: 0;
      left: -10%;
    }

    @include desktop_hd {
      bottom: 33%;
      left: -8%;
    }
  }

  &__ellipse2 {
    align-items: flex-end;
    background-position: 50% 120%;
    background-repeat: no-repeat;
    background-size: contain;
    background: linear-gradient(216.29deg, #25d366 7.56%, #1979aa00 85.19%);
    display: flex;
    height: 750px;
    justify-content: center;
    overflow: hidden;
    right: -18%;
    top: 0;
    width: 750px;
    overflow: hidden;

    @include phone {
      height: 230px;
      right: -35px;
      width: 230px;
      top: 10px;
    }

    @include tablet {
      height: 400px;
      top: 5%;
      right: 0;
      width: 400px;
    }

    @include desktop_hd {
      height: 650px;
      width: 650px;
      right: -10%;
      top: 5%;
    }

    img {
      position: absolute;
      bottom: -25px;
      width: 620px;

      @include phone {
        width: 190px;
        height: 190px;
        top: 50px;
      }

      @include tablet {
        height: 85%;
        width: 85%;
      }
    }
  }

  &__content {
    margin: 6.5rem auto auto;
    max-width: 615px;
    position: relative;
    width: 100%;
    z-index: 100;

    @include phone {
      margin-top: 4rem;
    }

    @include tablet {
      margin: 0;
    }

    @include desktop_hd {
    }
  }

  &__title {
    color: $green;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 77px;
    margin: 0;
    width: 120%;

    @include phone {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 34px;
      width: 100%;
    }

    @include tablet {
      font-size: 2.5rem;
      line-height: 50px;
    }

    @include desktop_hd {
    }

    span {
      font-weight: 900;

      @include phone {
        font-weight: 900;
      }
    }
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 200;
    width: 430px;

    @include phone {
      font-size: 1rem;
      width: 120%;
    }

    @include tablet {
      width: 100%;
    }

    span {
      font-style: italic;
      font-weight: 400;
    }
  }

  &__arrow {
    position: absolute;
    left: 14%;
    top: 100%;

    @include phone {
      width: 10px;
      left: 30%;
    }

    @include tablet {
      width: 30px;
      left: 30%;
      top: 90%;
    }

    @include desktop_hd {
      left: 20%;
      top: 90%;
    }
  }

  &__button {
    @include border_radius;
    background: transparent;
    border: 1px solid $white;
    color: $white;
    font-size: 1.5rem;
    padding: 8px 15px;

    @include phone {
      font-size: 1rem;
      width: 9.375rem;
      padding: 8px 0;
    }
  }

  &__image {
    object-fit: contain;
    width: 500px;
    z-index: 100;

    @include phone {
      width: 100%;
      object-fit: contain;
      height: auto;
      margin-top: 30px;
    }

    @include tablet {
      width: 315px;
      object-fit: contain;
    }
  }
}
